<%- include('./_partial/header.ejs') %> 

<form action="/customers/register" method="POST">
    <div class="mb-3">
      <label class="form-label">ID Number</label>
      <input type="text" class="form-control" name="identityNumber" placeholder="input your id number">
      <p class="text-danger"><%= errors ? errors.ein : "" %> </p>
    </div>
    <div class="mb-3">
      <label class="form-label">Full Name</label>
      <input type="text" class="form-control" name="fullName" placeholder="input your full name"> 
      <p class="text-danger"><%= errors ? errors.efn : "" %> </p>
    </div>
    <div class="mb-3">
      <label class="form-label">Address</label>
      <input type="text" class="form-control" name="address" placeholder="input your address"> 
    </div>
    <div class="mb-3">
      <label class="form-label">Birth Date</label>
      <input type="date" class="form-control" name="birthDate" value="2000-01-01">
      <p class="text-danger"><%= errors ? errors.ebd : "" %> </p>
    </div>
    <div class="mb-3">
        <label class="form-label">Gender:</label>
        <div>
            <input type="radio" name="gender" value="male">
            <label>Male</label>
        </div>
        <div>
            <input type="radio" name="gender" value="female">
            <label>Female</label>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
    <a href="/customers" class="btn btn-danger">Back</a>
</form>

<%- include('./_partial/footer.ejs') %> 